#!/usr/bin/env bash

RED="\e[31m"
GREEN="\e[32m"
RESET="\e[0m"
CLEAR="\r\033[K"


read -p "Do you want to install Extra packages? [Yes/No] -> " -n 4 val_extra

install_package(){
    local package="$1"
    local status=0
    printf "installing $package... "
    if [[ $(command -v apt) ]]; then
        if ! dpkg -s package_name >/dev/null 2>&1; then
            if [[ -n "$TERMUX_VERSION" ]]; then
                pkg install -y $package >/dev/null 2>&1 && status=1
            else
                sudo apt-get install -y $package >/dev/null 2>&1 && status=1
            fi
        else
            status=1
        fi
    elif [[ $(command -v pacman) ]]; then
        if ! pacman -Qi "$package" >/dev/null 2>&1 ; then 
            sudo pacman -S --noconfirm $package >/dev/null 2>&1 && status=1
        else 
            status=1
        fi
    elif [[ $(command -v dnf) ]] ; then
        sudo dnf install -y $package >/dev/null 2>&1 && status=1
    fi
    if [[ $status == 1 ]] ;then 
        printf "${CLEAR}${package} ${GREEN}Installed${RESET}\n" 
    else
        printf "${CLEAR}${package} ${RED}Not Installed${RESET}\n"
    fi
}

sudo ls >/dev/null 2>&1
packages=("bash-completion" "bat" "curl" "gcc" "git" "htop" "btop" "lua-language-server" "make" "man" "neovim" "nodejs" "npm" "openssh" "ripgrep" "rsync" "unzip" "vim" "vi" "stylua" "tree" "tmux" "wget" "syncthing" "aria2" "yt-dlp" "python3")

for package in "${packages[@]}" ; do 
    install_package $package
done

if [[ $val_extra =~ ^[Yy] || $val_extra =~ $[Yy][Ee][Ss] ]] ;then
    x86_64_packages=("evince" "firefox" "ffmpeg" "grim" "libnotify" "mpv" "networkmanager" "slurp" "sshfs" "ttf-font-awesome" "otf-font-awesome" "noto-fonts" "noto-fonts-cjk" "noto-fonts-emoji" "wl-clipboard" "xclip" "yazi" "zenity")

    for package in "${x86_64_packages[@]}" ; do 
        install_package $package
    done
fi

if [[ -n "$TERMUX_VERSION" ]]; then
    printf "installing tree-sitter-cli... " && npm install -g tree-sitter-cli 2>/dev/null && printf "${CLEAR}tree-sitter-cli ${GREEN}Installed${RESET}\n"
else
    printf "installing tree-sitter-cli... " && sudo npm install -g tree-sitter-cli 2>/dev/null && printf "${CLEAR}tree-sitter-cli ${GREEN}Installed${RESET}\n"
fi

if ! [[ -d ~/.tmux ]] ; then 
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

if ! grep "symlink"  ~/.config/chezmoi/chezmoi.toml ; then
    echo -e "mode = \"symlink\" " >> ~/.config/chezmoi/chezmoi.toml
fi
{{ if eq .vm "yes" }}
    vm_packages=("qemu-full" "virt-manager" "virt-viewer" "dnsmasq" "vde2" "openbsd-netcat" "libvirt" "edk2-ovmf" "swtpm")
    for package in "${vm_packages[@]}" ; do
        install_package $package
    done

    sudo systemctl enable --now libvirtd

    if [[ "$(lscpu | grep -Ei 'vendor|model' | grep -i 'intel')" == 0 ]] ; then 
        sudo modprobe kvm_intel
    elif [[ "$(lscpu | grep -Ei 'vendor|model' | grep -i 'amd')" == 0 ]] ;then 
        sudo modprobe kvm_amd
    fi

    sudo usermod -aG libvirt,kvm $USER

    if [[ "$(sudo virsh net-list --all |awk '{print $1}' | grep default)" == 0 ]] ; then 
        sudo virsh net-start default
        sudo virsh net-autostart default
    fi
{{ end }} 

{{ if eq .windowManager "hyprland" }}
    hypr_packages=("hyprland" "kitty" "alacritty" "rofi" "waybar" "hypridle" "hyprlock" "hyprpaper" "sddm" "swaync")
    for package in "${hypr_packages[@]}" ; do
        install_package $package
    done
    systemctl --user enable hyprpaper
    systemctl --user start hyprpaper
    systemctl --user enable hypridle
    systemctl --user start hypridle
    systemctl --user enable swaync
    systemctl --user start swaync 

    sudo mkdir -p /etc/sddm.conf.d
    echo "[Autologin]" |sudo tee /etc/sddm.conf.d/autologin.conf
    echo "User=$(whoami)" | sudo tee -a /etc/sddm.conf.d/autologin.conf
    echo "Session=hyprland.desktop" | sudo tee -a /etc/sddm.conf.d/autologin.conf
    
    [[ ! -d "$HOME/Pictures" ]] && mkdir "$HOME/Pictures" 
    if [[ ! -d "$HOME/Pictures/Wallpapers" ]] ; then 
        git clone https://github.com/sreelalv/hypr-wallpapers $HOME/Pictures/Wallpapers
    fi
    sudo systemctl enable sddm
{{ end }} 

