#!/usr/bin/env bash

RED="\e[31m"
GREEN="\e[32m"
RESET="\e[0m"
CLEAR="\r\033[K"

packageManager=""

package_manager(){
    if [[ $(command -v apt) ]]; then
        if [[ -n "$TERMUX_VERSION" ]]; then
            packageManager="pkg"
        else
            packageManager="apt"
        fi
    elif [[ $(command -v pacman) ]]; then
        packageManager="pacman"
    elif [[ $(command -v dnf) ]] ; then
        packageManager="dnf"
    fi
}

install_package(){
    local package="$1"
    local status=0
    printf "installing $package... "
    case "$packageManager" in 
        pkg)
            if ! dpkg -s "$package" >/dev/null 2>&1; then
                pkg install -y $package >/dev/null 2>&1 && status=1
            else
                status=1
            fi
            ;;
        apt)
            if ! dpkg -s "$package" >/dev/null 2>&1; then
                sudo apt-get install -y $package >/dev/null 2>&1 && status=1
            else
                status=1
            fi
            ;;
        pacman)
            if ! pacman -Qi "$package" >/dev/null 2>&1 ; then 
                sudo pacman -S --noconfirm $package >/dev/null 2>&1 && status=1
            else
                status=1
            fi 
            ;;
        dnf)
            sudo dnf install -y $package >/dev/null 2>&1 && status=1
            ;;
        *)
            status=0
    esac

    if [[ $status == 1 ]] ;then 
        printf "${CLEAR}${package} ${GREEN}Installed${RESET}\n" 
    else
        printf "${CLEAR}${package} ${RED}Not Installed${RESET}\n"
    fi
}

if ! grep "symlink"  ~/.config/chezmoi/chezmoi.toml ; then
    echo -e "mode = \"symlink\" " >> ~/.config/chezmoi/chezmoi.toml
fi

package_manager
sudo ls >/dev/null 2>&1

case $packageManager in 
    pkg)
        packages=("fd-find" "build-essential")
        ;;
    apt)
        packages=("fd-find" "build-essential")
        ;;
    pacman)
        packages=("fd" "gcc" "make" "tree-sitter-cli")
        ;; 
    dnf)
        packages=("fd-find" "gcc" "gcc-c++" "make" "tree-sitter-cli")
        ;;
    *)
        packages=("")
        ;;
esac

packages+=("bash-completion" "curl" "git" "make" "man" "neovim" "nodejs" "npm" "openssh" "ripgrep" "rsync" "vim" "unzip" "tree" "tmux" "wget" "syncthing" "aria2" "yt-dlp" "python3")

for package in "${packages[@]}" ; do 
    install_package $package
done

{{ if eq .extra "yes" }}
    x86_64_packages=("alacritty" "evince" "firefox" "ffmpeg" "grim" "mpv" "slurp" "sshfs" "wl-clipboard" "xclip" "zenity")

    for package in "${x86_64_packages[@]}" ; do 
        install_package $package
    done
{{ end }} 



{{ if eq .vm "yes" }}
    vm_packages=("qemu-full" "virt-manager" "virt-viewer" "dnsmasq" "vde2" "openbsd-netcat" "libvirt" "edk2-ovmf" "swtpm")
    for package in "${vm_packages[@]}" ; do
        install_package $package
    done

    sudo systemctl enable --now libvirtd

    if [[ "$(lscpu | grep -Ei 'vendor|model' | grep -i 'intel')" == 0 ]] ; then 
        sudo modprobe kvm_intel
    elif [[ "$(lscpu | grep -Ei 'vendor|model' | grep -i 'amd')" == 0 ]] ;then 
        sudo modprobe kvm_amd
    fi

    sudo usermod -aG libvirt,kvm $USER

    if [[ "$(sudo virsh net-list --all |awk '{print $1}' | grep default)" == 0 ]] ; then 
        sudo virsh net-start default
        sudo virsh net-autostart default
    fi
{{ end }} 

{{ if eq .windowManager "hyprland" }}
    hypr_packages=("hyprland" "kitty" "alacritty" "rofi" "waybar" "hypridle" "hyprlock" "hyprpaper" "sddm" "swaync")
    for package in "${hypr_packages[@]}" ; do
        install_package $package
    done
    systemctl --user enable hyprpaper
    systemctl --user start hyprpaper
    systemctl --user enable hypridle
    systemctl --user start hypridle
    systemctl --user enable swaync
    systemctl --user start swaync 

    sudo mkdir -p /etc/sddm.conf.d
    echo "[Autologin]" |sudo tee /etc/sddm.conf.d/autologin.conf
    echo "User=$(whoami)" | sudo tee -a /etc/sddm.conf.d/autologin.conf
    echo "Session=hyprland.desktop" | sudo tee -a /etc/sddm.conf.d/autologin.conf
    
    sudo systemctl enable sddm
{{ end }} 

{{ if or (eq .windowManager "hyprland") (eq .windowManager "i3")}}
    [[ ! -d "$HOME/Pictures" ]] && mkdir "$HOME/Pictures" 
    if [[ ! -d "$HOME/Pictures/Wallpapers" ]] ; then 
        git clone https://github.com/sreelalv/hypr-wallpapers $HOME/Pictures/Wallpapers
    fi
{{ end }} 

  

